* {
    margin: 0;
    padding: 0;
}

.admin-panel {
    background: gainsboro;
    border: 1px solid #515ad4;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 15px;
    opacity: 0.3;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a {
    display: block;
    margin: 5px 0;
}

a.edit, a.delete{
    display: none;
}